body{

    background-color: floralwhite;
    font-family: Arial, san serif;
    display: flex;
    justify-content: center;

}

.container{
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column; 
    gap : 12px;

}